    <nav class="navbar navbar-expand-lg navbar-drak bg-dark">
        <a class="navbar-brand" href="#"><img src="assets/logo.png"></a>
       
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-danger">Home</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-warning">About Us</button>
            </li>
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-info">Signup</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-light" routerLink='employee'>Conatct Us</button>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="clickMethod('name')">Search</button>
          </form>
        </div>
      </nav>

   
 




 