<div class="card text-white">
    <img src="assets/new.jpg" class="card-img" height="" width="100%">
    <div class="card-img-overlay">
     <pre> <h1 class="text-uppercase mb-4 font-weight-bold text-white">Don't Miss Out On....
        Your Dream Job....
     </h1></pre>
<pre><h2 class="card-text text-white">We post new openings daily.
Find the perfect fit for your unique skills....</h2></pre>
      </div>
  </div>

<div class="jumbotron jumbotron-fluid">
  <div class="card">
<div class="card">
    <div class="card-header bg-success">
        <h2 class="text-uppercase mb-4 font-weight-bold text-center">Current Job Openings</h2>
    </div>
    <div class="card-body">
      <h2 class="card-title">Java Devloper</h2>
      <p class="card-text">We have urgent requirement for the java devloper for our delhi office.</p>
      <a href="http://localhost:4200/employee" class="btn btn-success btn-lg">Apply</a>
    </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h2 class="card-title">.Net Devloper</h2>
        <p class="card-text">We have the requirement for the fresher in the field of Dot Net Devloper.</p>
        <a href="http://localhost:4200/employee" class="btn btn-success btn-lg">Apply</a>
      </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h2 class="card-title">Angular Js Devloper</h2>
          <p class="card-text">We need candidate who has the good knowledge of the Angular Framework.</p>
          <a href="http://localhost:4200/employee" class="btn btn-success btn-lg">Apply</a>
        </div>
      </div>
  </div>

    </div>

