<div class="jumbotron-fluid">



<div class="bg-light mb-3"><div class="card-header text-center"><h1 class="text-uppercase mb-4 font-weight-bold">What We Do</h1></div>
<div class="card-group">
  <div class="card">
    <img src="assets\design.jpg" class="card-img-top" height="400rem">
    <div class="card-body">
      <h5 class="card-title">Demand Generation Tools</h5>
      <p class="card-text">Demand generation. Commonly used in business-to-business, business-to-government, or longer business-to-consumer sales cycles, demand generation involves multiple areas of marketing and is really the marriage of marketing programs coupled with a structured sales process</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img src="assets\mobile-app-prototyping.jpg" class="card-img-top" height="400rem">
    <div class="card-body">
      <h5 class="card-title">Mobile App Development</h5>
      <p class="card-text">  Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices. Like Web application development, mobile application development has its roots in more traditional software development. One critical difference, however, is that mobile apps are often written specifically to take advantage of the unique features a particular mobile device offers. For instance, a gaming app might be written to take advantage of the iPhone's accelerometer or a mobile health app might be written to take advantage of a smartwatch's temperature sensor.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img src="assets\AngularJS.png" class="card-img-top" height="400rem">
    <div class="card-body">
      <h5 class="card-title">AngularJS Development</h5>
      <p class="card-text">AngularJS (also written as Angular.js) is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</p>
      <button type="button" class="btn btn-success btn-lg" routerLink='knowmore'>Know More</button>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>
</div>
<span class="a">
    <h2 class="text-uppercase mb-4 font-weight-bold">How we do it</h2>
    <p class="lead">We work with Larger Enterprises as well as new ventures following established processes including those for quality and change management. We know that requirements could be evolving or changing rapidly and are Agile to meet those expectations.
        <hr class="my-4">
        <h2 class="text-uppercase mb-4 font-weight-bold">Our Work</h2>
        <p class="lead">We have built products and solutions in several industry verticals, to meet a range of business requirements. In one case, a business asked us to build a number of tools for generating leads which their partners could also use independently. We built the tools and an interface which allowed easy configuration of any tool for partners and a user and role based interface which allowed authenticated users access to reports.
  </span>
    
    
    

  </div>